<html lang="en">
<head>
    <title>FOOD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body align="center">
<table id="reply-box" class="list-group" align="center">
        <tr align="center">
            <td>ID</td>
            <td><textarea cols="100" rows="1"  id="id" readonly>{{food.id}}</textarea></td> <!--&nbsp; : 한칸 띄어줌-->
        </tr>
        <tr align="center">
            <td>이름</td>
            <td><textarea cols="100" rows="1" id="name">{{food.name}}</textarea></td>
        </tr>
        <tr align="center">
            <td>카테고리</td>
            <td><textarea cols="100" rows="1" id="category">{{food.category}}</textarea></td>
        </tr>
        <tr align="center">
            <td>이화타입</td>
            <td><textarea cols="100" rows="1" id="ewhaType">{{food.ewhaType}}</textarea></td>
        </tr>
        <tr align="center">
            <td>주소</td>
            {{#food.address}}
                <td><textarea cols="100" rows="1" type="text" id="address">{{food.address}}</textarea></td>
            {{/food.address}}
            {{^food.address}}
                <td><textarea cols="100" rows="1" type="text" id="address"></textarea></td>
            {{/food.address}}
        </tr>
        <tr align="center">
            {{#food.menu.menuName}}
                <td>대표메뉴</td>
                <td><textarea cols="100" rows="1" type="text" id="menuName">{{food.menu.menuName}}</textarea></td>
                <td>가격</td>
                <td><textarea cols="100" rows="1" type="text" id="price">{{food.menu.price}}</textarea></td>
            {{/food.menu.menuName}}
            {{^food.menu.menuName}}
                <td>대표메뉴</td>
                <td><textarea cols="100" rows="1" type="text" id="menuName"></textarea></td>
                <td>가격</td>
                <td><textarea cols="100" rows="1" type="text" id="price"></textarea></td>
            {{/food.menu.menuName}}
        </tr>
        <tr align="center">
            <td>연락처</td>
            {{#food.phone}}
                <td><textarea cols="100" rows="1" type="text" id="phone">{{food.phone}}</textarea></td>
            {{/food.phone}}
            {{^food.phone}}
                <td><textarea cols="100" rows="1" type="text" id="phone"></textarea></td>
            {{/food.phone}}
        </tr>
        <tr align="center">
            <td>링크주소</td>
            {{#food.url}}
                <td><textarea cols="100" rows="2" type="text" id="url">{{food.url}}</textarea></td> <!--&nbsp; : 한칸 띄어줌-->
            {{/food.url}}
            {{^food.url}}
                <td><textarea cols="100" rows="2" type="text" id="url"></textarea></td> <!--&nbsp; : 한칸 띄어줌-->
            {{/food.url}}
        </tr>
        <tr align="center">
            <td>이미지주소</td>
            {{#food.imageUrl}}
                <td><textarea cols="100" rows="2" type="text" id="imageUrl">{{food.imageUrl}}</textarea></td> <!--&nbsp; : 한칸 띄어줌-->
            {{/food.imageUrl}}
            {{^food.imageUrl}}
                <td><textarea cols="100" rows="2" type="text" id="imageUrl"></textarea></td> <!--&nbsp; : 한칸 띄어줌-->
            {{/food.imageUrl}}
            <td><button id="btn-update">수정</button></td>
        </tr>

</table>
<script src="/js/food.js?v=1"></script>
</body>